rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /task/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/user/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/user/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/user/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/user/$(request.auth.uid);
    }

    match /user/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth.uid == document;
    }

    match /weapons_shop/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /cosmetic_shop/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /ship_shop/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
